<%= form_with(model: TimeEntry.new, class: 'form-inline') do |form| %>
  <%= form.text_field :date, {class: 'form-control'} %>
  <%= form.time_select :start, {}, {class: 'custom-select'} %>
  <%= form.time_select :end, {}, {class: 'custom-select'} %>
  <%= form.time_select :breaks, {}, {class: 'custom-select'} %>
  <span id='time_entry_total'></span>
  <%= form.button class: 'btn btn-primary' do %>
    <%= icon 'fa', 'plus' %> Add
  <% end %>
<% end %>
