<ul class="pagination">
<% hash_clone = hash.clone %>
<% if hash_clone[type] == 'all' %>
  <li class="page-item active">
<% else %>
  <li class="page-item">
<% end %>
    <% hash_clone[type] = 'all' %>
    <%= link_to 'All', time_entries_path(hash_clone), class: 'page-link' %>
    <% if hash_clone[type] == 'all' %>
      <span class="sr-only">(current)</span>
    <% end %>
  </li>
<% max_items_visible = 3 %>
<% active_item = hash[type] != 'all' ? hash[type].to_i : nil %>
<% items.each_with_index do |item, i| %>
  <% active = active_item == item %>
  <% link_to_label = time_unit_to_str(type, item) %>
  <% hash_clone = hash.clone %>
  <% hash_clone[type] = item %>
  <% if !(hash_clone[:month] == 'all') %>
    <% hash_clone[:month] = get_existing_month(hash_clone[:year], hash_clone[:month]) %>
  <% end %>

  <% if i < max_items_visible %>
    <% if active %>
    <li class="page-item active">
    <% else %>
    <li class="page-item">
    <% end %>

      <%= link_to link_to_label, time_entries_path(hash_clone), class: 'page-link' %>
      <% if active %>
        <span class="sr-only">(current)</span>
      <% end %>
    </li>
  <% elsif i == max_items_visible %>
    <% dropdown_class = 'page-item dropdown' %>
    <% if active_item && items.index(active_item) >= max_items_visible %>
      <% active_link = time_unit_to_str(type, active_item) %>
        <% dropdown_class += ' active' %>
    <% else %>
      <% active_link = '...' %>
    <% end %>
    <li class='<%= dropdown_class %>'>
        <div class="dropdown-toggle page-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= active_link %>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to link_to_label, time_entries_path(hash_clone), class: 'dropdown-item' %>
  <% else %>
            <%= link_to link_to_label, time_entries_path(hash_clone), class: 'dropdown-item' %>
    <% if i == items.size - 1 %>
          </div>
      </li>
    <% end %>
  <% end %>

<% end %>
</ul>
