<h1>Time Entries</h1>

<%= render "form_inline" %>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Breaks</th>
      <th scope="col">Total</th>
      <th colspan="3" scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.date %></td>
        <td><%= time_entry.start.to_formatted_s(:time) %></td>
        <td><%= time_entry.end.to_formatted_s(:time)  %></td>
        <td><%= time_entry.breaks.to_formatted_s(:time)  %></td>
        <td><%= time_entry.total.to_formatted_s(:time) %></td>
        <td>
          <%= link_to time_entry do %>
            <%= icon "far", "eye" %> Show
          <% end %>
        </td>
        <td>
          <%= link_to edit_time_entry_path(time_entry) do %>
            <%= icon "fa", "pen" %> Edit
          <% end %>
        </td>
        <td>
          <%= link_to time_entry, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon "fa", "trash-alt" %> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_time_entry_path do %>
  <%= icon 'fa', 'plus' %> New Time Entry
<% end %>
