<% if user_allowed? %>
<table class="table table-striped">
  <tr>
    <th>Date:</th>
    <td><%= @time_entry.date.to_formatted_s(:date) %></td>
  </tr>

  <tr>
    <th>Start:</th>
    <td><%= @time_entry.start.to_formatted_s(:time) %>
  </tr>

  <tr>
    <th>End:</th>
    <td><%= @time_entry.end.to_formatted_s(:time) %>
  </tr>

  <tr>
    <th>Breaks:</th>
    <td><%= @time_entry.breaks.to_formatted_s(:time) %>
  </tr>

  <tr>
    <th>Total:</th>
    <td><%= @time_entry.total.to_formatted_s(:time) %></td>
  </tr>

</table>
<% end %>
<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
