<p id="notice"><%= notice %></p>

<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Row</th>
      <th>Column</th>
      <th>Changed to</th>
      <th>Changed at</th>
      <th>Changed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.table %></td>
        <td><%= log.row %></td>
        <td><%= log.column %></td>
        <td><%= log.changed_to %></td>
        <td><%= log.changed_at %></td>
        <td><%= log.changed_by %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
