<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @log.table %>
</p>

<p>
  <strong>Row:</strong>
  <%= @log.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @log.column %>
</p>

<p>
  <strong>Changed to:</strong>
  <%= @log.changed_to %>
</p>

<p>
  <strong>Changed at:</strong>
  <%= @log.changed_at %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @log.changed_by %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
